# RESEARCH QUESTION:

In [1]:
import pandas as pd

In [2]:
#we took the data from https://www.fueleconomy.gov/feg/ws/ 
#we have two dataframe: emissions and vehicles. we need to merge them. 
#first, we open the emissions dataframe dfe
dfe = pd.read_csv('emissions.csv')

In [3]:
#the emissison dataframe has 8 columns of dtypes: float64(2), int64(3), object(3), and 44979 rows
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44979 entries, 0 to 44978
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   efid           44979 non-null  object
 1   id             44979 non-null  int64
 2   salesArea      44979 non-null  int64
 3   score          44979 non-null  float64
 4   scoreAlt       44979 non-null  float64
 5   smartwayScore  44979 non-null  int64
 6   standard       44979 non-null  object
 7   stdText        44965 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.7+ MB

In [5]:
#then we open the vehicles dataframe dfv
dfv = pd.read_csv('vehicles.csv')

/var/folders/tw/n9x7cy1x0j3gmy3zhrd1p8640000gn/T/ipykernel_46589/1811012411.py:2: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  dfv = pd.read_csv('vehicles.csv')

In [6]:
#the dfv has 83 columns of dtypes: bool(1), float64(32), int64(27), object(23), and 44768 rows
dfv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44787 entries, 0 to 44786
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        44787 non-null  float64
 1   barrelsA08       44787 non-null  float64
 2   charge120        44787 non-null  float64
 3   charge240        44787 non-null  float64
 4   city08           44787 non-null  int64
 5   city08U          44787 non-null  float64
 6   cityA08          44787 non-null  int64
 7   cityA08U         44787 non-null  float64
 8   cityCD           44787 non-null  float64
 9   cityE            44787 non-null  float64
 10  cityUF           44787 non-null  float64
 11  co2              44787 non-null  int64
 12  co2A             44787 non-null  int64
 13  co2TailpipeAGpm  44787 non-null  float64
 14  co2TailpipeGpm   44787 non-null  float64
 15  comb08           44787 non-null  int64
 16  comb08U          44787 non-null  float64
 17  combA08          44787 non-null  int64
 18  combA08U         44787 non-null  float64
 19  combE            44787 non-null  float64
 20  combinedCD       44787 non-null  float64
 21  combinedUF       44787 non-null  float64
 22  cylinders        44415 non-null  float64
 23  displ            44417 non-null  float64
 24  drive            43601 non-null  object
 25  engId            44787 non-null  int64
 26  eng_dscr         27996 non-null  object
 27  feScore          44787 non-null  int64
 28  fuelCost08       44787 non-null  int64
 29  fuelCostA08      44787 non-null  int64
 30  fuelType         44787 non-null  object
 31  fuelType1        44787 non-null  object
 32  ghgScore         44787 non-null  int64
 33  ghgScoreA        44787 non-null  int64
 34  highway08        44787 non-null  int64
 35  highway08U       44787 non-null  float64
 36  highwayA08       44787 non-null  int64
 37  highwayA08U      44787 non-null  float64
 38  highwayCD        44787 non-null  float64
 39  highwayE         44787 non-null  float64
 40  highwayUF        44787 non-null  float64
 41  hlv              44787 non-null  int64
 42  hpv              44787 non-null  int64
 43  id               44787 non-null  int64
 44  lv2              44787 non-null  int64
 45  lv4              44787 non-null  int64
 46  make             44787 non-null  object
 47  model            44787 non-null  object
 48  mpgData          44768 non-null  object
 49  phevBlended      44787 non-null  bool
 50  pv2              44787 non-null  int64
 51  pv4              44787 non-null  int64
 52  range            44787 non-null  int64
 53  rangeCity        44787 non-null  float64
 54  rangeCityA       44787 non-null  float64
 55  rangeHwy         44787 non-null  float64
 56  rangeHwyA        44787 non-null  float64
 57  trany            44776 non-null  object
 58  UCity            44787 non-null  float64
 59  UCityA           44787 non-null  float64
 60  UHighway         44787 non-null  float64
 61  UHighwayA        44787 non-null  float64
 62  VClass           44787 non-null  object
 63  year             44787 non-null  int64
 64  youSaveSpend     44787 non-null  int64
 65  guzzler          2624 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         8857 non-null   object
 68  sCharger         966 non-null    object
 69  atvType          4329 non-null   object
 70  fuelType2        1800 non-null   object
 71  rangeA           1795 non-null   object
 72  evMotor          1515 non-null   object
 73  mfrCode          13979 non-null  object
 74  c240Dscr         131 non-null    object
 75  charge240b       44787 non-null  float64
 76  c240bDscr        125 non-null    object
 77  createdOn        44787 non-null  object
 78  modifiedOn       44787 non-null  object
 79  startStop        13098 non-null  object
 80  phevCity         44787 non-null  int64
 81  phevHwy          44787 non-null  int64
 82  phevComb         44787 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 28.1+ MB

In [7]:
#the dataframes has the same id column, so we are merging the 2 dataframe based on that 
df_raw = pd.merge(left=dfe, right=dfv, left_on='id', right_on='id')

In [8]:
#shape of the new dataframe
df_raw.shape

(44897, 90)

# Data Inspection

As the dataset is very technical and has a lot of column, in the data inspection we are trying to understand the relevance of each column and. 

#GENERAL CHARACTERISTICS: <br>
'make': manufacturer brand <br> 
'model': model name <br> 
'year': production year, from 2009-2018 <br> 

#ENGINE CHARACTERISTICS: <br>
'fuelType' <br>
'cylinders': engine cylinders <br>
'displ': engine displacement in liters<br>
'eng_dscr': <br> 
'phevBlended'<br>
'atvType': type of alternative fuel or advanced technology vehicle <br>

#POLLUTION: <br>
'co2TailpipeAGpm', 'co2TailpipeGpm' <br>
'co2', 'co2A'<br>
'ghgScore', 'ghgScoreA' <br>

#DRIVETRAIN: <br>
'drive': <br>
'trany': <br>
'trans_dscr',<br>

#CHASSIS:   <br>
'VClass': EPA vehicle size class <br>
'pv2': 2-door passenger volume <br>
'pv4': 4-door passenger volume <br>
'lv2': 2 door luggage volume (cubic feet) <br>
'lv4': 4 door luggage volume (cubic feet) <br>
'hlv': hatchback luggage volume (cubic feet) <br>
'hpv': hatchback passenger volume (cubic feet) <br>

#ELECTRONICS: 
'tCharger':
'sCharger': 
'startStop': 

#FUEL CONSUMPTION: <br>
'city08': city MPG for fuelType1 and 2 <br>
'highway08': highway MPG for fuelType1 and 2 <br>




#all the different variable that distinuish between fuelType1 and fuelType2 can be summed up
'barrels08', 'barrelsA08': annual petroleum consumption in barrels<br>
'fuelCost08', 'fuelCostA08'
'comb08',  'combA08'
'city08', 'cityA08'
'highway08', 'highwayA08'


'standard', 
'stdText',
'trans_dscr', 
  
 
#Columns to be deleted:
efid
id
fuelType1: For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
fuelType2: For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG). For single fuel vehicles, this field is not used



#Columns to be deleted becasue not relevant for the research:<br>
createdOn - date the vehicle record was created (ISO 8601 format)<br>

modifiedOn - date the vehicle record was last modified (ISO 8601 format)<br>

salesArea - The area of the country where the vehicle can legally be sold.<br>

youSaveSpend - you save/spend over 5 years compared to an average car ($). Savings are positive; a greater amount    
               spent yields a negative number. For dual fuel vehicles, this is the cost savings for gasoline <br>

guzzler - if G or T, this vehicle is subject to the gas guzzler tax

city08U, cityA08U - unrounded city MPG for fuelType1 (same values as city08 but not rounded and some variable are not available)<br> 

highway08U, highwayA08U - <br>
'highwayCD','highwayE','highwayUF':<br>

'combinedCD','combE','combinedUF' - <br>

c240Dscr - electric vehicle charger description <br>

charge240b - time to charge an electric vehicle in hours at 240 V using the alternate charger <br> 

c240bDscr - <br>

mfrCode - 3-character manufacturer code <br>

mpgData - has My MPG data

phevBlended - if true, this vehicle operates on a blend of gasoline and electricity in charge depleting mode

'range', 'rangeA', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA' - 

'score', 'scoreAlt' - 

'UCity', 'UCityA', 'UHighway', 'UHighwayA'- 

'phevCity', 'phevHwy', 'phevComb' - 

'smartwayScore',

'charge120': time to charge an electric vehicle in hours at 120 V
'charge240':time to charge an electric vehicle in hours at 240 V

'evMotor' 

'feScore'

In [18]:
#show all columns indeces 
df_raw.columns

Index(['efid', 'id', 'salesArea', 'score', 'scoreAlt', 'smartwayScore',
       'standard', 'stdText', 'barrels08', 'barrelsA08', 'charge120',
       'charge240', 'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD',
       'cityE', 'cityUF', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm',
       'comb08', 'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended', 'pv2', 'pv4',
       'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany',
       'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'VClass', 'year',
       'youSaveSpend', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger',
       'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr',
       'charge240b', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop',
       'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [32]:
df_raw["make"].value_counts()

BMW               3441
Chevrolet         3307
Ford              3104
Mercedes-Benz     2401
Toyota            2198
                  ...
Azure Dynamics       2
Fisker               2
RUF Automobile       2
Shelby               2
Mahindra             1
Name: make, Length: 76, dtype: int64

In [34]:
df_raw["model"].value_counts()

Jetta                          251
Accord                         238
Mustang                        216
Camaro                         181
Tacoma 2WD                     166
                              ...
Armored DTS                      1
570S Spider                      1
600LT Spider                     1
620R Coupe                       1
Stage 3 F150 Super Crew 2WD      1
Name: model, Length: 3146, dtype: int64

In [36]:
df_raw["year"].value_counts()

2018    2724
2019    2689
2015    2649
2021    2632
2014    2602
2017    2592
2016    2586
2020    2577
2013    2533
2022    2377
2008    2290
2012    2264
2011    2212
2007    2117
2006    2071
2010    2061
2004    2015
2005    1963
2009    1943
Name: year, dtype: int64

In [42]:
df_raw["cylinders"].value_counts()

4.0     17346
6.0     15363
8.0      8830
5.0       945
12.0      939
3.0       424
10.0      317
2.0        60
16.0       34
Name: cylinders, dtype: int64

In [44]:
df_raw["displ"].value_counts()

2.0    6888
3.0    4528
3.5    3339
2.5    3071
2.4    2784
       ...
2.6      10
8.3      10
2.1      10
5.8       4
0.0       2
Name: displ, Length: 62, dtype: int64

In [46]:
df_raw["phevBlended"].value_counts()

False    44494
True       403
Name: phevBlended, dtype: int64

In [48]:
df_raw["pv4"].value_counts()

0      28486
91      1007
96       993
98       992
94       979
100      955
97       870
90       850
99       844
102      777
103      678
105      646
101      640
92       633
93       623
95       487
106      486
108      484
89       469
104      459
88       368
86       295
107      245
112      200
109      175
114      152
87       148
84       128
111       98
85        90
115       88
113       85
82        62
110       48
48        44
124       22
120       22
78        20
148       19
80        18
83        18
125       18
76        18
121       16
143       16
79        14
117       14
81        12
128       12
157       12
70        10
116       10
127       10
75         8
77         6
64         6
118        4
72         4
155        4
Name: pv4, dtype: int64

In [50]:
df_raw["pv2"].value_counts()

0      38480
70       582
81       502
83       346
84       341
89       325
68       324
91       314
90       280
86       249
88       246
78       236
85       233
82       228
94       217
92       200
87       198
77       198
74       186
79       183
76       169
93       144
75       110
80        74
72        68
52        62
99        62
48        60
100       40
50        36
102       36
49        35
96        26
97        20
105       20
98        15
95        12
43        12
46         8
64         6
118        4
47         4
107        4
73         2
Name: pv2, dtype: int64

In [52]:
df_raw["drive"].value_counts()

Front-Wheel Drive             14805
Rear-Wheel Drive              13029
All-Wheel Drive                8486
4-Wheel or All-Wheel Drive     3955
4-Wheel Drive                  3850
Part-time 4-Wheel Drive         772
Name: drive, dtype: int64

In [54]:
df_raw["atvType"].value_counts()

FFV               2253
Hybrid            1883
Diesel             648
EV                 639
Plug-in Hybrid     536
CNG                 36
Bifuel (CNG)         8
Name: atvType, dtype: int64

In [59]:
df_raw["eng_dscr"].isnull().sum()

22975

In [60]:
df_raw["trans_dscr"].value_counts()

CLKUP              4983
2MODE CLKUP        1143
3MODE CLKUP         888
EMS 2MODE CLKUP     514
SIL                 256
EMS                 223
CMODE               210
3MODE               157
2MODE               133
VMODE CLKUP         116
CMODE CLKUP         100
DC/FW                93
4MODE                62
VMODE VLKUP          55
6MODE CLKUP          54
VLKUP                51
EMS CLKUP            43
2MODE 2LKUP          43
SIL EMS              27
CMODE VLKUP          24
4MODE CLKUP          12
6MODE                12
SIL 2MODE CLKUP       8
SIL 3MODE             6
LONG RATIO            4
3MODE VLKUP           4
EMS 3MODE CLKUP       3
SIL 3MODE CLKUP       2
3MODE CLKUP FW        2
Name: trans_dscr, dtype: int64

In [41]:
df_raw["highwayUF"].value_counts()

0.0000    44361
0.4180       20
0.3610       20
0.4144       16
0.9100       16
          ...
0.4890        2
0.4250        2
0.5250        2
0.5850        2
0.3100        1
Name: highwayUF, Length: 112, dtype: int64

In [27]:
df_raw["co2"].value_counts()

-1      18849
 0        639
 407      171
 305      169
 347      167
        ...
 205        2
 667        2
 130        1
 682        1
 707        1
Name: co2, Length: 592, dtype: int64

In [28]:
df_raw["co2A"].value_counts()

-1      43622
 491       54
 457       34
 394       30
 482       22
        ...
 616        1
 426        1
 608        1
 591        1
 390        1
Name: co2A, Length: 214, dtype: int64

In [16]:
#-1 = not available 
df_raw["feScore"].value_counts()

-1     18936
 5      6723
 4      4878
 6      3625
 3      3246
 7      2799
 8      1474
 2      1294
 10      995
 1       506
 9       421
Name: feScore, dtype: int64

In [48]:
df_raw["make"].value_counts()

BMW               3441
Chevrolet         3307
Ford              3104
Mercedes-Benz     2401
Toyota            2198
                  ...
Azure Dynamics       2
Fisker               2
RUF Automobile       2
Shelby               2
Mahindra             1
Name: make, Length: 76, dtype: int64

In [49]:
df_raw["model"].value_counts()

Jetta                          251
Accord                         238
Mustang                        216
Camaro                         181
Tacoma 2WD                     166
                              ...
Armored DTS                      1
570S Spider                      1
600LT Spider                     1
620R Coupe                       1
Stage 3 F150 Super Crew 2WD      1
Name: model, Length: 3146, dtype: int64

In [51]:
df_raw["year"].value_counts()

2018    2724
2019    2689
2015    2649
2021    2632
2014    2602
2017    2592
2016    2586
2020    2577
2013    2533
2022    2377
2008    2290
2012    2264
2011    2212
2007    2117
2006    2071
2010    2061
2004    2015
2005    1963
2009    1943
Name: year, dtype: int64

In [53]:
#fuelType = fuelType1 + fuelType2 
#fuelType1 and fuelType2 can be deleted and the column fuelType can be transformed in a numerical value 
df_raw["fuelType"].value_counts()

Regular                        21795
Premium                        18691
Gasoline or E85                 2029
Diesel                           648
Electricity                      639
Midgrade                         291
Premium and Electricity          250
Premium or E85                   224
Regular Gas and Electricity      153
Premium Gas or Electricity       117
CNG                               36
Regular Gas or Electricity        16
Gasoline or natural gas            8
Name: fuelType, dtype: int64

In [56]:
#For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
df_raw["fuelType1"].value_counts()

Regular Gasoline     24001
Premium Gasoline     19282
Diesel                 648
Electricity            639
Midgrade Gasoline      291
Natural Gas             36
Name: fuelType1, dtype: int64

In [59]:
#For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG).
df_raw["fuelType2"].value_counts()

E85            2253
Electricity     536
Natural Gas       8
Name: fuelType2, dtype: int64

In [61]:
#the empty value mean the vehicle only have one type of fuel 
df_raw['fuelType2'].isna().sum()

42100

In [48]:
#efid - engine family ID
df_raw["efid"].value_counts()

GPRXV04.0C91    78
MGMXT05.3386    74
FGMXT06.2374    72
NGMXT05.3386    70
7BMXB03.0N52    68
                ..
LRAXV03.8T12     1
DNSXV01.881B     1
9KMXV02.0LPC     1
9DSXV02.4G6G     1
8GMXT04.2188     1
Name: efid, Length: 6796, dtype: int64

In [65]:
#electric vehicle charger description
df_raw["c240Dscr"].value_counts()

standard charger    232
3.6 kW charger        8
single charger        6
6.6 kW charger        4
7.2 kW charger        2
Name: c240Dscr, dtype: int64

In [66]:
#time to charge an electric vehicle in hours at 240 V using the alternate charger
df_raw["charge240b"].value_counts()

0.00    44662
4.75       92
8.00       36
8.50       30
3.75       18
8.30       10
6.20        8
9.60        8
5.00        6
2.30        4
6.60        4
8.20        4
4.40        4
4.00        2
2.50        2
9.30        2
6.50        2
5.80        2
7.00        1
Name: charge240b, dtype: int64

In [58]:
df_raw["city08"].value_counts()

18     4097
17     3899
16     3779
19     3554
15     3372
       ...
109       2
141       2
103       2
60        1
61        1
Name: city08, Length: 124, dtype: int64

In [66]:
#the fuel consumption in the city for fuelType2 is mainly 0 - therefore we are adding up the column 'city08' and 'cityA08'
df_raw["city08"].value_counts()

18     4097
17     3899
16     3779
19     3554
15     3372
       ...
109       2
141       2
103       2
60        1
61        1
Name: city08, Length: 124, dtype: int64

In [67]:
df_raw["city08"].value_counts()

18     4097
17     3899
16     3779
19     3554
15     3372
       ...
109       2
141       2
103       2
60        1
61        1
Name: city08, Length: 124, dtype: int64

In [24]:
#EPA 1-10 smog rating for fuelType1
df_raw["score"].value_counts()

 5.0     18124
 6.0     11408
 3.0      4219
 1.0      3582
 7.0      3544
 2.0      1410
 9.0      1337
 10.0      633
 8.0       610
-12.0       13
 4.0        10
-2.0         7
Name: score, dtype: int64

In [68]:
#EPA 1-10 smog rating for fuelType2
df_raw["scoreAlt"].value_counts()

-1.0    44465
 5.0      157
 6.0      128
 2.0       93
 1.0       54
Name: scoreAlt, dtype: int64

In [69]:
#
df_raw["ghgScore"].value_counts()

-1     18936
 5      6567
 4      5031
 6      3563
 3      3263
 7      2859
 8      1343
 2      1294
 10     1115
 1       504
 9       422
Name: ghgScore, dtype: int64

In [70]:
df_raw["ghgScoreA"].value_counts()

-1    43543
 4      330
 3      302
 5      265
 6      189
 2      135
 1       40
 8       34
 7       33
 0       26
Name: ghgScoreA, dtype: int64

In [72]:
df_raw["VClass"].value_counts()

Midsize Cars                          6417
Compact Cars                          6111
Subcompact Cars                       4267
Large Cars                            3411
Small Sport Utility Vehicle 4WD       2753
Sport Utility Vehicle - 4WD           2748
Two Seaters                           2673
Sport Utility Vehicle - 2WD           2110
Standard Sport Utility Vehicle 4WD    2103
Minicompact Cars                      1825
Small Station Wagons                  1747
Small Sport Utility Vehicle 2WD       1699
Standard Pickup Trucks 2WD            1596
Standard Pickup Trucks 4WD            1589
Standard Sport Utility Vehicle 2WD     784
Small Pickup Trucks 2WD                562
Midsize Station Wagons                 528
Minivan - 2WD                          479
Small Pickup Trucks 4WD                439
Special Purpose Vehicle 2WD            331
Vans, Cargo Type                       319
Vans, Passenger Type                   272
Special Purpose Vehicle 4WD             70
Minivan - 4WD                           64
Name: VClass, dtype: int64

In [73]:
df_raw["mfrCode"].value_counts()

GMX    4035
BMX    3154
FMX    2414
CRX    2147
TYX    2093
MBX    1795
NSX    1559
VGA    1491
PRX    1457
HNX    1237
HYX    1131
KMX     974
JLX     818
FJX     556
TKX     529
VVX     474
MTX     372
VWX     327
ADX     262
TSL     240
FEX     222
MAX     180
RRG     160
ASX     144
SKX      66
MLN      59
JCX      50
RII      48
LTX      44
SAX      34
BEX      32
NLX      30
LRX      28
DSX      15
LMU      12
KAL       8
TVP       6
BYD       6
BGT       6
CDA       4
MBV       4
RIV       4
PGN       3
SCA       3
FSK       2
AZD       2
FTG       2
QTM       2
RAX       2
Name: mfrCode, dtype: int64

# Data Cleaning

Based on the data inspection part we are going to eliminate ......