# RESEARCH QUESTION:

In [1]:
import pandas as pd

In [2]:
#we took the data from https://www.fueleconomy.gov/feg/ws/ 
#we have two dataframe: emissions and vehicles. we need to merge them. 
#first, we open the emissions dataframe dfe
dfe = pd.read_csv('emissions.csv')

In [3]:
#the emissison dataframe has 8 columns of dtypes: float64(2), int64(3), object(3), and 44979 rows
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44979 entries, 0 to 44978
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   efid           44979 non-null  object
 1   id             44979 non-null  int64
 2   salesArea      44979 non-null  int64
 3   score          44979 non-null  float64
 4   scoreAlt       44979 non-null  float64
 5   smartwayScore  44979 non-null  int64
 6   standard       44979 non-null  object
 7   stdText        44965 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.7+ MB

In [4]:
#then we open the vehicles dataframe dfv
dfv = pd.read_csv('vehicles.csv')

/var/folders/x7/tm9d29mx1lv2zl6slvnz5xvw0000gn/T/ipykernel_4325/1811012411.py:2: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  dfv = pd.read_csv('vehicles.csv')

In [5]:
#the dfv has 83 columns of dtypes: bool(1), float64(32), int64(27), object(23), and 44768 rows
dfv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44787 entries, 0 to 44786
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        44787 non-null  float64
 1   barrelsA08       44787 non-null  float64
 2   charge120        44787 non-null  float64
 3   charge240        44787 non-null  float64
 4   city08           44787 non-null  int64
 5   city08U          44787 non-null  float64
 6   cityA08          44787 non-null  int64
 7   cityA08U         44787 non-null  float64
 8   cityCD           44787 non-null  float64
 9   cityE            44787 non-null  float64
 10  cityUF           44787 non-null  float64
 11  co2              44787 non-null  int64
 12  co2A             44787 non-null  int64
 13  co2TailpipeAGpm  44787 non-null  float64
 14  co2TailpipeGpm   44787 non-null  float64
 15  comb08           44787 non-null  int64
 16  comb08U          44787 non-null  float64
 17  combA08          44787 non-null  int64
 18  combA08U         44787 non-null  float64
 19  combE            44787 non-null  float64
 20  combinedCD       44787 non-null  float64
 21  combinedUF       44787 non-null  float64
 22  cylinders        44415 non-null  float64
 23  displ            44417 non-null  float64
 24  drive            43601 non-null  object
 25  engId            44787 non-null  int64
 26  eng_dscr         27996 non-null  object
 27  feScore          44787 non-null  int64
 28  fuelCost08       44787 non-null  int64
 29  fuelCostA08      44787 non-null  int64
 30  fuelType         44787 non-null  object
 31  fuelType1        44787 non-null  object
 32  ghgScore         44787 non-null  int64
 33  ghgScoreA        44787 non-null  int64
 34  highway08        44787 non-null  int64
 35  highway08U       44787 non-null  float64
 36  highwayA08       44787 non-null  int64
 37  highwayA08U      44787 non-null  float64
 38  highwayCD        44787 non-null  float64
 39  highwayE         44787 non-null  float64
 40  highwayUF        44787 non-null  float64
 41  hlv              44787 non-null  int64
 42  hpv              44787 non-null  int64
 43  id               44787 non-null  int64
 44  lv2              44787 non-null  int64
 45  lv4              44787 non-null  int64
 46  make             44787 non-null  object
 47  model            44787 non-null  object
 48  mpgData          44768 non-null  object
 49  phevBlended      44787 non-null  bool
 50  pv2              44787 non-null  int64
 51  pv4              44787 non-null  int64
 52  range            44787 non-null  int64
 53  rangeCity        44787 non-null  float64
 54  rangeCityA       44787 non-null  float64
 55  rangeHwy         44787 non-null  float64
 56  rangeHwyA        44787 non-null  float64
 57  trany            44776 non-null  object
 58  UCity            44787 non-null  float64
 59  UCityA           44787 non-null  float64
 60  UHighway         44787 non-null  float64
 61  UHighwayA        44787 non-null  float64
 62  VClass           44787 non-null  object
 63  year             44787 non-null  int64
 64  youSaveSpend     44787 non-null  int64
 65  guzzler          2624 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         8857 non-null   object
 68  sCharger         966 non-null    object
 69  atvType          4329 non-null   object
 70  fuelType2        1800 non-null   object
 71  rangeA           1795 non-null   object
 72  evMotor          1515 non-null   object
 73  mfrCode          13979 non-null  object
 74  c240Dscr         131 non-null    object
 75  charge240b       44787 non-null  float64
 76  c240bDscr        125 non-null    object
 77  createdOn        44787 non-null  object
 78  modifiedOn       44787 non-null  object
 79  startStop        13098 non-null  object
 80  phevCity         44787 non-null  int64
 81  phevHwy          44787 non-null  int64
 82  phevComb         44787 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 28.1+ MB

In [6]:
# Eliminated all the id duplicate for the dataframe "emission"

dfe = dfe.sort_values('id', ascending=False)
dfe = dfe.drop_duplicates(subset='id', keep='first')

In [7]:
# Eliminated all the id duplicate for the dataframe "vehicles"

dfv = dfv.sort_values('id', ascending=False)
dfv = dfv.drop_duplicates(subset='id', keep='first')

In [8]:
#the dataframes has the same id column, so we are merging the 2 dataframe based on that 
df_raw = pd.merge(left=dfe, right=dfv, left_on='id', right_on='id')

In [9]:
#shape of the new dataframe
df_raw.shape

(21950, 90)

# Data Inspection

As the dataset is very technical and has a lot of column, in the data inspection we are trying to understand the relevance of each column and. 

#GENERAL CHARACTERISTICS: <br>
'make': manufacturer brand <br> 
'model': model name <br> 
'year': production year, from 2009-2018 <br> 

#ENGINE CHARACTERISTICS: <br>
'fuelType' <br>
'cylinders': engine cylinders <br>
'displ': engine displacement in liters<br>
'eng_dscr': <br> 
'phevBlended'<br>
'atvType': type of alternative fuel or advanced technology vehicle <br>

#POLLUTION: <br>
'co2TailpipeAGpm', 'co2TailpipeGpm' <br>
'co2', 'co2A'<br>
'ghgScore', 'ghgScoreA' <br>

#DRIVETRAIN: <br>
'drive': <br>
'trany': <br>
'trans_dscr',<br>

#CHASSIS:   <br>
'VClass': EPA vehicle size class <br>
'pv2': 2-door passenger volume <br>
'pv4': 4-door passenger volume <br>
'lv2': 2 door luggage volume (cubic feet) <br>
'lv4': 4 door luggage volume (cubic feet) <br>
'hlv': hatchback luggage volume (cubic feet) <br>
'hpv': hatchback passenger volume (cubic feet) <br>

#ELECTRONICS: 
'tCharger':
'sCharger': 
'startStop': 

#FUEL CONSUMPTION: <br>
-> non so se sommare tutte le consumption per city a highway ???

'city08': city MPG for fuelType1 and 2 <br>
'cityCD': city gasoline consumption (gallons/100 miles) in charge depleting mode <br>
'cityE': city electricity consumption in kw-hrs/100 miles <br>
'cityUF': EPA city utility factor (share of electricity) for PHEV <br>
'highway08': highway MPG for fuelType1 and 2 <br>




#all the different variable that distinuish between fuelType1 and fuelType2 can be summed up
'barrels08', 'barrelsA08': annual petroleum consumption in barrels<br>
'fuelCost08', 'fuelCostA08', 
'comb08',  'combA08',
'city08', 'cityA08': city MPG  
'highway08', 'highwayA08',



'standard', 
'stdText',
'trans_dscr', 
  
 
#Columns to be deleted:
efid
id
fuelType1: For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
fuelType2: For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG). For single fuel vehicles, this field is not used



#Columns to be deleted becasue not relevant for the research:<br>
createdOn - date the vehicle record was created (ISO 8601 format)<br>

modifiedOn - date the vehicle record was last modified (ISO 8601 format)<br>

salesArea - The area of the country where the vehicle can legally be sold.<br>

youSaveSpend - you save/spend over 5 years compared to an average car ($). Savings are positive; a greater amount    
               spent yields a negative number. For dual fuel vehicles, this is the cost savings for gasoline <br>

guzzler - if G or T, this vehicle is subject to the gas guzzler tax

city08U, cityA08U - unrounded city MPG for fuelType1 (same values as city08 but not rounded and some variable are not available)<br> 

highway08U, highwayA08U - <br>
'highwayCD','highwayE','highwayUF':<br>

'combinedCD','combE','combinedUF' - <br>

c240Dscr - electric vehicle charger description <br>

charge240b - time to charge an electric vehicle in hours at 240 V using the alternate charger <br> 

c240bDscr - <br>

mfrCode - 3-character manufacturer code <br>

mpgData - has My MPG data

phevBlended - if true, this vehicle operates on a blend of gasoline and electricity in charge depleting mode

'range', 'rangeA', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA' - 

'score', 'scoreAlt' - 

'UCity', 'UCityA', 'UHighway', 'UHighwayA'- 

'phevCity', 'phevHwy', 'phevComb' - 

'smartwayScore',

'charge120': time to charge an electric vehicle in hours at 120 V
'charge240':time to charge an electric vehicle in hours at 240 V

'evMotor' 

'feScore'

In [10]:
#show all columns indeces 
df_raw.columns

Index(['efid', 'id', 'salesArea', 'score', 'scoreAlt', 'smartwayScore',
       'standard', 'stdText', 'barrels08', 'barrelsA08', 'charge120',
       'charge240', 'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD',
       'cityE', 'cityUF', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm',
       'comb08', 'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended', 'pv2', 'pv4',
       'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany',
       'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'VClass', 'year',
       'youSaveSpend', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger',
       'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr',
       'charge240b', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop',
       'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [11]:
df_raw["make"].value_counts()

Chevrolet        1746
BMW              1620
Ford             1449
Mercedes-Benz    1224
Toyota           1065
                 ...
Rivian              2
Fisker              1
Mahindra            1
Shelby              1
Kandi               1
Name: make, Length: 76, dtype: int64

In [12]:
df_raw["model"].value_counts()

Jetta                    105
Mustang                   98
Camaro                    92
Accord                    78
Tacoma 4WD                65
                        ...
Titan 4WD PRO-4X           1
RAV4 Hybrid  AWD           1
RS4 Cabriolet              1
AMG GLS63 4matic Plus      1
I-Pace EV400               1
Name: model, Length: 3146, dtype: int64

In [13]:
df_raw["year"].value_counts()

2018    1340
2019    1315
2017    1281
2021    1275
2015    1268
2016    1246
2020    1245
2014    1213
2013    1170
2022    1153
2008    1129
2012    1120
2010    1071
2011    1065
2006    1056
2005    1048
2004    1040
2007     992
2009     923
Name: year, dtype: int64

In [14]:
df_raw["cylinders"].value_counts()

4.0     8143
6.0     7521
8.0     4640
12.0     488
5.0      440
3.0      194
10.0     156
2.0       28
16.0      17
Name: cylinders, dtype: int64

In [15]:
df_raw["displ"].value_counts()

2.0    3264
3.0    2149
3.5    1678
2.5    1378
2.4    1242
       ...
0.9       6
8.3       6
2.1       5
5.8       2
0.0       1
Name: displ, Length: 62, dtype: int64

In [16]:
df_raw["phevBlended"].value_counts()

False    21752
True       198
Name: phevBlended, dtype: int64

In [17]:
df_raw["pv4"].value_counts()

0      14191
98       463
91       461
94       456
96       445
100      445
90       437
97       428
99       403
102      380
101      316
92       303
105      292
103      287
93       281
108      232
95       232
89       230
106      221
104      215
88       179
86       134
107      127
112       97
109       87
114       79
87        73
84        54
115       45
113       44
111       43
85        36
82        29
110       24
48        22
120       11
148       10
80         9
121        9
125        9
83         9
76         9
143        9
124        9
78         8
79         8
117        7
77         6
128        6
81         6
157        6
70         5
116        5
127        5
75         4
64         3
118        2
72         2
155        2
Name: pv4, dtype: int64

In [18]:
df_raw["pv2"].value_counts()

0      18900
70       294
81       239
84       167
68       165
89       153
83       145
91       132
90       132
82       121
88       117
86       116
78       107
85       107
87       105
94       102
77        98
74        93
79        89
92        78
76        73
93        64
75        45
80        37
72        34
48        32
99        31
52        28
50        22
49        22
100       20
102       18
96        12
97        11
105       10
43         6
98         6
95         5
46         4
64         3
107        2
47         2
118        2
73         1
Name: pv2, dtype: int64

In [19]:
df_raw["drive"].value_counts()

Front-Wheel Drive             6879
Rear-Wheel Drive              6545
All-Wheel Drive               4154
4-Wheel or All-Wheel Drive    2040
4-Wheel Drive                 1942
Part-time 4-Wheel Drive        390
Name: drive, dtype: int64

In [20]:
df_raw["atvType"].value_counts()

FFV               1303
Hybrid             906
Diesel             346
EV                 323
Plug-in Hybrid     255
CNG                 20
Bifuel (CNG)         4
Name: atvType, dtype: int64

In [21]:
df_raw["eng_dscr"].isnull().sum()

11165

In [22]:
df_raw["trans_dscr"].value_counts()

CLKUP              2521
2MODE CLKUP         555
3MODE CLKUP         414
EMS 2MODE CLKUP     293
SIL                 149
EMS                 129
CMODE               115
3MODE                80
2MODE                71
VMODE CLKUP          50
CMODE CLKUP          47
DC/FW                44
6MODE CLKUP          31
4MODE                28
2MODE 2LKUP          27
EMS CLKUP            24
VMODE VLKUP          24
VLKUP                21
CMODE VLKUP          14
SIL EMS               7
6MODE                 6
4MODE CLKUP           6
SIL 2MODE CLKUP       4
SIL 3MODE             3
3MODE VLKUP           2
LONG RATIO            2
EMS 3MODE CLKUP       2
3MODE CLKUP FW        1
SIL 3MODE CLKUP       1
Name: trans_dscr, dtype: int64

In [23]:
df_raw["highwayUF"].value_counts()

0.0000    21695
0.3610       10
0.4180        9
0.4144        8
0.3760        8
          ...
0.3020        1
0.5830        1
0.5850        1
0.6560        1
0.2510        1
Name: highwayUF, Length: 112, dtype: int64

In [24]:
df_raw["co2"].value_counts()

-1      9398
 0       323
 387      82
 407      81
 415      78
        ...
 150       1
 75        1
 653       1
 784       1
 84        1
Name: co2, Length: 592, dtype: int64

In [25]:
df_raw["co2A"].value_counts()

-1      21289
 491       26
 457       17
 394       14
 456       11
        ...
 345        1
 563        1
 583        1
 553        1
 473        1
Name: co2A, Length: 214, dtype: int64

In [26]:
#-1 = not available 
df_raw["feScore"].value_counts()

-1     9444
 5     3263
 4     2440
 6     1696
 3     1615
 7     1235
 8      667
 2      653
 10     481
 1      260
 9      196
Name: feScore, dtype: int64

In [27]:
df_raw["make"].value_counts()

Chevrolet        1746
BMW              1620
Ford             1449
Mercedes-Benz    1224
Toyota           1065
                 ...
Rivian              2
Fisker              1
Mahindra            1
Shelby              1
Kandi               1
Name: make, Length: 76, dtype: int64

In [28]:
df_raw["model"].value_counts()

Jetta                    105
Mustang                   98
Camaro                    92
Accord                    78
Tacoma 4WD                65
                        ...
Titan 4WD PRO-4X           1
RAV4 Hybrid  AWD           1
RS4 Cabriolet              1
AMG GLS63 4matic Plus      1
I-Pace EV400               1
Name: model, Length: 3146, dtype: int64

In [29]:
df_raw["year"].value_counts()

2018    1340
2019    1315
2017    1281
2021    1275
2015    1268
2016    1246
2020    1245
2014    1213
2013    1170
2022    1153
2008    1129
2012    1120
2010    1071
2011    1065
2006    1056
2005    1048
2004    1040
2007     992
2009     923
Name: year, dtype: int64

In [30]:
#fuelType = fuelType1 + fuelType2 
#fuelType1 and fuelType2 can be deleted and the column fuelType can be transformed in a numerical value 
df_raw["fuelType"].value_counts()

Regular                        10338
Premium                         9223
Gasoline or E85                 1188
Diesel                           346
Electricity                      323
Midgrade                         138
Premium and Electricity          122
Premium or E85                   115
Regular Gas and Electricity       76
Premium Gas or Electricity        53
CNG                               20
Regular Gas or Electricity         4
Gasoline or natural gas            4
Name: fuelType, dtype: int64

In [31]:
#For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
df_raw["fuelType1"].value_counts()

Regular Gasoline     11610
Premium Gasoline      9513
Diesel                 346
Electricity            323
Midgrade Gasoline      138
Natural Gas             20
Name: fuelType1, dtype: int64

In [32]:
#For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG).
df_raw["fuelType2"].value_counts()

E85            1303
Electricity     255
Natural Gas       4
Name: fuelType2, dtype: int64

In [33]:
#the empty value mean the vehicle only have one type of fuel 
df_raw['fuelType2'].isna().sum()

20388

In [34]:
#efid - engine family ID
df_raw["efid"].value_counts()

GPRXV04.0C91    39
MGMXT05.3386    37
5GMXT06.0187    37
FGMXT06.2374    36
NGMXT05.3386    35
                ..
EGMXV03.6167     1
9ADXV03.1374     1
9ADXV04.2355     1
9HNXV01.8BDT     1
GNSXV0000LLA     1
Name: efid, Length: 6529, dtype: int64

In [35]:
#electric vehicle charger description
df_raw["c240Dscr"].value_counts()

standard charger    116
3.6 kW charger        4
single charger        3
7.2 kW charger        2
6.6 kW charger        2
Name: c240Dscr, dtype: int64

In [36]:
#time to charge an electric vehicle in hours at 240 V using the alternate charger
df_raw["charge240b"].value_counts()

0.00    21833
4.75       46
8.00       18
8.50       15
3.75        9
8.30        5
6.20        4
9.60        4
5.00        3
8.20        2
4.40        2
6.60        2
6.50        1
5.80        1
9.30        1
2.30        1
7.00        1
2.50        1
4.00        1
Name: charge240b, dtype: int64

In [37]:
df_raw["city08"].value_counts()

18     1956
17     1953
16     1911
19     1731
15     1702
       ...
61        1
93        1
60        1
67        1
148       1
Name: city08, Length: 124, dtype: int64

In [38]:
#the fuel consumption in the city for fuelType2 is mainly 0 - therefore we are adding up the column 'city08' and 'cityA08'
df_raw["city08"].value_counts()

18     1956
17     1953
16     1911
19     1731
15     1702
       ...
61        1
93        1
60        1
67        1
148       1
Name: city08, Length: 124, dtype: int64

In [39]:
df_raw["city08"].value_counts()

18     1956
17     1953
16     1911
19     1731
15     1702
       ...
61        1
93        1
60        1
67        1
148       1
Name: city08, Length: 124, dtype: int64

In [40]:
#EPA 1-10 smog rating for fuelType1
df_raw["score"].value_counts()

 5.0     7491
 6.0     6889
 3.0     2071
 1.0     1732
 7.0     1566
 2.0      974
 9.0      646
 10.0     320
 8.0      242
-12.0      11
 4.0        5
-2.0        3
Name: score, dtype: int64

In [41]:
#EPA 1-10 smog rating for fuelType2
df_raw["scoreAlt"].value_counts()

-1.0    21623
 5.0      117
 6.0       90
 2.0       70
 1.0       50
Name: scoreAlt, dtype: int64

In [42]:
#
df_raw["ghgScore"].value_counts()

-1     9444
 5     3185
 4     2516
 6     1665
 3     1624
 7     1265
 2      653
 8      604
 10     540
 1      259
 9      195
Name: ghgScore, dtype: int64

In [43]:
df_raw["ghgScoreA"].value_counts()

-1    21259
 4      174
 3      150
 5      144
 6       90
 2       72
 1       20
 7       16
 8       13
 0       12
Name: ghgScoreA, dtype: int64

In [44]:
df_raw["VClass"].value_counts()

Midsize Cars                          2991
Compact Cars                          2880
Subcompact Cars                       2000
Large Cars                            1653
Sport Utility Vehicle - 4WD           1413
Two Seaters                           1348
Small Sport Utility Vehicle 4WD       1331
Sport Utility Vehicle - 2WD           1111
Standard Sport Utility Vehicle 4WD    1054
Minicompact Cars                       892
Small Station Wagons                   850
Standard Pickup Trucks 4WD             825
Small Sport Utility Vehicle 2WD        823
Standard Pickup Trucks 2WD             797
Standard Sport Utility Vehicle 2WD     391
Small Pickup Trucks 2WD                282
Midsize Station Wagons                 245
Minivan - 2WD                          244
Small Pickup Trucks 4WD                229
Vans, Cargo Type                       192
Special Purpose Vehicle 2WD            170
Vans, Passenger Type                   159
Special Purpose Vehicle 4WD             37
Minivan - 4WD                           33
Name: VClass, dtype: int64

In [45]:
df_raw["mfrCode"].value_counts()

GMX    1996
BMX    1490
FMX    1187
TYX    1035
CRX    1033
MBX     887
NSX     745
PRX     731
VGA     722
HNX     537
HYX     533
KMX     433
JLX     410
TKX     256
FJX     243
VVX     234
MTX     175
VWX     132
ADX     130
TSL     120
FEX     112
MAX      91
RRG      80
ASX      72
SKX      33
MLN      30
RII      30
JCX      25
LTX      22
SAX      21
BEX      16
NLX      15
LRX      14
LMU       6
DSX       6
BYD       6
KAL       4
PGN       3
BGT       3
TVP       3
MBV       2
RAX       2
CDA       2
AZD       2
RIV       2
FTG       1
QTM       1
FSK       1
SCA       1
Name: mfrCode, dtype: int64

# Data Cleaning

Based on the data inspection part we are going to eliminate ......

In [104]:
df = df_raw

In [105]:
# Removed the column previously cited in the data inspection 

df = df.drop(["createdOn", "efid","id", "fuelType1", "fuelType2", "createdOn", "modifiedOn", "salesArea", "youSaveSpend", "guzzler", "city08U", "cityA08U", "highway08U", "highwayA08U", "highwayCD", "highwayE", "highwayUF", "combinedCD", "combE", "combinedUF", "c240Dscr", "charge240b", "c240bDscr", "mfrCode", "mpgData", "phevBlended", "range", "rangeA", "rangeCity", "rangeCityA", "rangeHwy", "rangeHwyA", "score", "scoreAlt", "UCity", "UCityA", "UHighway", "UHighwayA", "phevCity", "phevHwy", "phevComb", "smartwayScore", "charge120", "evMotor", "feScore", "cityCD", "cityE", "cityUF", "comb08U", "combA08U", "fuelCost08", "fuelCostA08"], axis = 1)

In [106]:
df.shape

(21950, 39)

In [107]:
df

,standard,stdText,barrels08,barrelsA08,charge240,city08,cityA08,co2,co2A,co2TailpipeAGpm,...,pv2,pv4,trany,VClass,year,trans_dscr,tCharger,sCharger,atvType,startStop
0,T3B30,Federal Tier 3 Bin 30,13.523182,0.0000,0.0,19,0,408,-1,0.0,...,0,0,Automatic (S8),Small Sport Utility Vehicle 4WD,2022,NaN,NaN,NaN,Hybrid,Y
1,T3B160,Federal Tier 3 Bin 160,17.500588,5.3225,0.0,15,11,538,508,508.0,...,0,0,Automatic (S10),"Vans, Passenger Type",2022,NaN,NaN,NaN,FFV,N
2,T3B160,Federal Tier 3 Bin 160,18.594375,5.3225,0.0,14,11,563,526,526.0,...,0,0,Automatic (S10),"Vans, Passenger Type",2022,NaN,NaN,NaN,FFV,N
3,T3B125,Federal Tier 3 Bin 125,13.523182,0.0000,0.0,19,0,409,-1,0.0,...,0,102,Automatic (AM8),Small Station Wagons,2022,NaN,T,NaN,NaN,Y
4,T3B125,Federal Tier 3 Bin 125,12.935217,0.0000,0.0,20,0,392,-1,0.0,...,89,0,Automatic (AM8),Compact Cars,2022,NaN,T,NaN,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21945,B9,BIN 9,14.167143,0.0000,0.0,19,0,-1,-1,0.0,...,0,0,Automatic (S6),Two Seaters,2004,3MODE,NaN,NaN,NaN,NaN
21946,B9,BIN 9,14.167143,0.0000,0.0,18,0,-1,-1,0.0,...,0,0,Manual 6-spd,Two Seaters,2004,NaN,T,NaN,NaN,NaN
21947,B9,BIN 9,14.167143,0.0000,0.0,18,0,-1,-1,0.0,...,0,0,Automatic (S6),Two Seaters,2004,3MODE CLKUP,T,NaN,NaN,NaN
21948,B9,BIN 9,16.528333,0.0000,0.0,16,0,-1,-1,0.0,...,0,0,Manual 6-spd,Two Seaters,2004,NaN,NaN,NaN,NaN,NaN
21949,L1,LEV,16.528333,0.0000,0.0,16,0,-1,-1,0.0,...,0,0,Automatic (S4),Two Seaters,2004,2MODE CLKUP,NaN,NaN,NaN,NaN

In [108]:
df["sCharger"].value_counts()

S    757
Name: sCharger, dtype: int64

In [109]:
import seaborn as sns

In [110]:
df.columns

Index(['standard', 'stdText', 'barrels08', 'barrelsA08', 'charge240', 'city08',
       'cityA08', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08',
       'combA08', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'fuelType', 'ghgScore', 'ghgScoreA', 'highway08', 'highwayA08', 'hlv',
       'hpv', 'lv2', 'lv4', 'make', 'model', 'pv2', 'pv4', 'trany', 'VClass',
       'year', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'startStop'],
      dtype='object')

In [112]:
# Create a new column " Barrels " with the sum of "barrels08" and "barrelsA08"

df['Barrels'] = df['barrels08'] + df['barrelsA08']

In [113]:
# Create a new column " City " with the sum of "city08" and "cityA08"

df['City'] = df['city08'] + df['cityA08']

In [114]:
# Create a new column " Co2 " with the sum of "co2" and "co2A"

df['Co2'] = df['co2'] + df['co2A']

In [115]:
# Create a new column " co2TailpipeGpm " with the sum of "co2TailpipeAGpm" and "co2TailpipeGpm"



df['co2TailpipeGpm'] = df['co2TailpipeAGpm'] + df['co2TailpipeGpm']

In [116]:
# Create a new column " Comb " with the sum of "comb08" and "combA08"

df['Comb'] = df['comb08'] + df['combA08']

In [117]:
# Create a new column " Highway " with the sum of "highway08 " and "highwayA08"

df['Highway'] = df['highway08'] + df['highwayA08']

In [118]:
# Removed all the columns summed and left the aggregate ones 

df = df.drop(["barrels08", "barrelsA08", "city08","cityA08", "co2", "co2A", "co2TailpipeAGpm", "co2TailpipeGpm", "comb08", "combA08", "highway08", "highwayA08"], axis = 1)

In [119]:
df

,standard,stdText,charge240,cylinders,displ,drive,engId,eng_dscr,fuelType,ghgScore,...,trans_dscr,tCharger,sCharger,atvType,startStop,Barrels,City,Co2,Comb,Highway
0,T3B30,Federal Tier 3 Bin 30,0.0,6.0,3.0,4-Wheel Drive,774,SIDI; Mild Hybrid,Premium,5,...,NaN,NaN,NaN,Hybrid,Y,13.523182,19,407,22,26
1,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,Rear-Wheel Drive,65,SIDI & PFI; FFV,Gasoline or E85,3,...,NaN,NaN,NaN,FFV,N,22.823088,26,1046,29,34
2,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,All-Wheel Drive,64,SIDI & PFI; FFV,Gasoline or E85,3,...,NaN,NaN,NaN,FFV,N,23.916875,25,1089,28,32
3,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,245,SIDI,Premium,5,...,NaN,T,NaN,NaN,Y,13.523182,19,408,22,25
4,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,210,SIDI,Premium,5,...,NaN,T,NaN,NaN,Y,12.935217,20,391,23,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21945,B9,BIN 9,0.0,6.0,3.2,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,3MODE,NaN,NaN,NaN,NaN,14.167143,19,-2,21,25
21946,B9,BIN 9,0.0,4.0,1.8,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,NaN,T,NaN,NaN,NaN,14.167143,18,-2,21,26
21947,B9,BIN 9,0.0,4.0,1.8,Front-Wheel Drive,0,NaN,Premium,-1,...,3MODE CLKUP,T,NaN,NaN,NaN,14.167143,18,-2,21,26
21948,B9,BIN 9,0.0,6.0,3.2,Rear-Wheel Drive,0,DOHC,Premium,-1,...,NaN,NaN,NaN,NaN,NaN,16.528333,16,-2,18,22
21949,L1,LEV,0.0,6.0,3.0,Rear-Wheel Drive,0,DOHC,Premium,-1,...,2MODE CLKUP,NaN,NaN,NaN,NaN,16.528333,16,-2,18,22

In [120]:
# Merge the columns "tCharger" and "sCharger"

df['Charger']= df['tCharger'].fillna('0') + ' ' + df['sCharger'].fillna('0')

In [121]:
df

,standard,stdText,charge240,cylinders,displ,drive,engId,eng_dscr,fuelType,ghgScore,...,tCharger,sCharger,atvType,startStop,Barrels,City,Co2,Comb,Highway,Charger
0,T3B30,Federal Tier 3 Bin 30,0.0,6.0,3.0,4-Wheel Drive,774,SIDI; Mild Hybrid,Premium,5,...,NaN,NaN,Hybrid,Y,13.523182,19,407,22,26,0 0
1,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,Rear-Wheel Drive,65,SIDI & PFI; FFV,Gasoline or E85,3,...,NaN,NaN,FFV,N,22.823088,26,1046,29,34,0 0
2,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,All-Wheel Drive,64,SIDI & PFI; FFV,Gasoline or E85,3,...,NaN,NaN,FFV,N,23.916875,25,1089,28,32,0 0
3,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,245,SIDI,Premium,5,...,T,NaN,NaN,Y,13.523182,19,408,22,25,T 0
4,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,210,SIDI,Premium,5,...,T,NaN,NaN,Y,12.935217,20,391,23,28,T 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21945,B9,BIN 9,0.0,6.0,3.2,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,NaN,NaN,NaN,NaN,14.167143,19,-2,21,25,0 0
21946,B9,BIN 9,0.0,4.0,1.8,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,T,NaN,NaN,NaN,14.167143,18,-2,21,26,T 0
21947,B9,BIN 9,0.0,4.0,1.8,Front-Wheel Drive,0,NaN,Premium,-1,...,T,NaN,NaN,NaN,14.167143,18,-2,21,26,T 0
21948,B9,BIN 9,0.0,6.0,3.2,Rear-Wheel Drive,0,DOHC,Premium,-1,...,NaN,NaN,NaN,NaN,16.528333,16,-2,18,22,0 0
21949,L1,LEV,0.0,6.0,3.0,Rear-Wheel Drive,0,DOHC,Premium,-1,...,NaN,NaN,NaN,NaN,16.528333,16,-2,18,22,0 0

In [124]:
# Removed the columns summed 

df = df.drop(["tCharger", "sCharger"], axis = 1)

In [125]:
# Rewrite the string in a better format 

df["Charger"] = df["Charger"].apply({'0 0':0, 'T 0': "T",'0 S': "S",'T S': "TS"  }.get)

In [126]:
df['Charger'].value_counts()

0     14351
T      6842
S       674
TS       83
Name: Charger, dtype: int64

In [128]:
df

,standard,stdText,charge240,cylinders,displ,drive,engId,eng_dscr,fuelType,ghgScore,...,year,trans_dscr,atvType,startStop,Barrels,City,Co2,Comb,Highway,Charger
0,T3B30,Federal Tier 3 Bin 30,0.0,6.0,3.0,4-Wheel Drive,774,SIDI; Mild Hybrid,Premium,5,...,2022,NaN,Hybrid,Y,13.523182,19,407,22,26,0
1,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,Rear-Wheel Drive,65,SIDI & PFI; FFV,Gasoline or E85,3,...,2022,NaN,FFV,N,22.823088,26,1046,29,34,0
2,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,All-Wheel Drive,64,SIDI & PFI; FFV,Gasoline or E85,3,...,2022,NaN,FFV,N,23.916875,25,1089,28,32,0
3,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,245,SIDI,Premium,5,...,2022,NaN,NaN,Y,13.523182,19,408,22,25,T
4,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,210,SIDI,Premium,5,...,2022,NaN,NaN,Y,12.935217,20,391,23,28,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21945,B9,BIN 9,0.0,6.0,3.2,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,2004,3MODE,NaN,NaN,14.167143,19,-2,21,25,0
21946,B9,BIN 9,0.0,4.0,1.8,4-Wheel or All-Wheel Drive,0,NaN,Premium,-1,...,2004,NaN,NaN,NaN,14.167143,18,-2,21,26,T
21947,B9,BIN 9,0.0,4.0,1.8,Front-Wheel Drive,0,NaN,Premium,-1,...,2004,3MODE CLKUP,NaN,NaN,14.167143,18,-2,21,26,T
21948,B9,BIN 9,0.0,6.0,3.2,Rear-Wheel Drive,0,DOHC,Premium,-1,...,2004,NaN,NaN,NaN,16.528333,16,-2,18,22,0
21949,L1,LEV,0.0,6.0,3.0,Rear-Wheel Drive,0,DOHC,Premium,-1,...,2004,2MODE CLKUP,NaN,NaN,16.528333,16,-2,18,22,0