# RESEARCH QUESTION:

In [684]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [685]:
#we took the data from https://www.fueleconomy.gov/feg/ws/ 
#https://www.epa.gov/greenvehicles/greenhouse-gas-rating 
#we have two dataframe: emissions and vehicles. we need to merge them. 
#first, we open the emissions dataframe dfe
dfe = pd.read_csv('emissions.csv')

In [686]:
np.random.seed(42)

In [687]:
#the emissison dataframe has 8 columns of dtypes: float64(2), int64(3), object(3), and 44979 rows
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44979 entries, 0 to 44978
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   efid           44979 non-null  object
 1   id             44979 non-null  int64
 2   salesArea      44979 non-null  int64
 3   score          44979 non-null  float64
 4   scoreAlt       44979 non-null  float64
 5   smartwayScore  44979 non-null  int64
 6   standard       44979 non-null  object
 7   stdText        44965 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 2.7+ MB

In [688]:
#then we open the vehicles dataframe dfv
dfv = pd.read_csv('vehicles.csv')

/var/folders/tw/n9x7cy1x0j3gmy3zhrd1p8640000gn/T/ipykernel_48680/1811012411.py:2: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  dfv = pd.read_csv('vehicles.csv')

In [689]:
#the dfv has 83 columns of dtypes: bool(1), float64(32), int64(27), object(23), and 44768 rows
dfv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44787 entries, 0 to 44786
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        44787 non-null  float64
 1   barrelsA08       44787 non-null  float64
 2   charge120        44787 non-null  float64
 3   charge240        44787 non-null  float64
 4   city08           44787 non-null  int64
 5   city08U          44787 non-null  float64
 6   cityA08          44787 non-null  int64
 7   cityA08U         44787 non-null  float64
 8   cityCD           44787 non-null  float64
 9   cityE            44787 non-null  float64
 10  cityUF           44787 non-null  float64
 11  co2              44787 non-null  int64
 12  co2A             44787 non-null  int64
 13  co2TailpipeAGpm  44787 non-null  float64
 14  co2TailpipeGpm   44787 non-null  float64
 15  comb08           44787 non-null  int64
 16  comb08U          44787 non-null  float64
 17  combA08          44787 non-null  int64
 18  combA08U         44787 non-null  float64
 19  combE            44787 non-null  float64
 20  combinedCD       44787 non-null  float64
 21  combinedUF       44787 non-null  float64
 22  cylinders        44415 non-null  float64
 23  displ            44417 non-null  float64
 24  drive            43601 non-null  object
 25  engId            44787 non-null  int64
 26  eng_dscr         27996 non-null  object
 27  feScore          44787 non-null  int64
 28  fuelCost08       44787 non-null  int64
 29  fuelCostA08      44787 non-null  int64
 30  fuelType         44787 non-null  object
 31  fuelType1        44787 non-null  object
 32  ghgScore         44787 non-null  int64
 33  ghgScoreA        44787 non-null  int64
 34  highway08        44787 non-null  int64
 35  highway08U       44787 non-null  float64
 36  highwayA08       44787 non-null  int64
 37  highwayA08U      44787 non-null  float64
 38  highwayCD        44787 non-null  float64
 39  highwayE         44787 non-null  float64
 40  highwayUF        44787 non-null  float64
 41  hlv              44787 non-null  int64
 42  hpv              44787 non-null  int64
 43  id               44787 non-null  int64
 44  lv2              44787 non-null  int64
 45  lv4              44787 non-null  int64
 46  make             44787 non-null  object
 47  model            44787 non-null  object
 48  mpgData          44768 non-null  object
 49  phevBlended      44787 non-null  bool
 50  pv2              44787 non-null  int64
 51  pv4              44787 non-null  int64
 52  range            44787 non-null  int64
 53  rangeCity        44787 non-null  float64
 54  rangeCityA       44787 non-null  float64
 55  rangeHwy         44787 non-null  float64
 56  rangeHwyA        44787 non-null  float64
 57  trany            44776 non-null  object
 58  UCity            44787 non-null  float64
 59  UCityA           44787 non-null  float64
 60  UHighway         44787 non-null  float64
 61  UHighwayA        44787 non-null  float64
 62  VClass           44787 non-null  object
 63  year             44787 non-null  int64
 64  youSaveSpend     44787 non-null  int64
 65  guzzler          2624 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         8857 non-null   object
 68  sCharger         966 non-null    object
 69  atvType          4329 non-null   object
 70  fuelType2        1800 non-null   object
 71  rangeA           1795 non-null   object
 72  evMotor          1515 non-null   object
 73  mfrCode          13979 non-null  object
 74  c240Dscr         131 non-null    object
 75  charge240b       44787 non-null  float64
 76  c240bDscr        125 non-null    object
 77  createdOn        44787 non-null  object
 78  modifiedOn       44787 non-null  object
 79  startStop        13098 non-null  object
 80  phevCity         44787 non-null  int64
 81  phevHwy          44787 non-null  int64
 82  phevComb         44787 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 28.1+ MB

In [690]:
# Eliminated all the id duplicate for the dataframe "emission"

dfe = dfe.sort_values('id', ascending=False)
dfe = dfe.drop_duplicates(subset='id', keep='first')

In [691]:
# Eliminated all the id duplicate for the dataframe "vehicles"

dfv = dfv.sort_values('id', ascending=False)
dfv = dfv.drop_duplicates(subset='id', keep='first')

In [692]:
#the dataframes has the same id column, so we are merging the 2 dataframe based on that 
df_raw = pd.merge(left=dfe, right=dfv, left_on='id', right_on='id')

In [693]:
#shape of the new dataframe
df_raw.shape

(21950, 90)

In [694]:
df_raw.describe()

,id,salesArea,score,scoreAlt,smartwayScore,barrels08,barrelsA08,charge120,charge240,city08,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.0,21950.000000,21950.000000,...,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000,21950.000000
mean,32950.602961,5.353121,5.033075,-0.925194,-0.578132,14.322039,0.338052,0.0,0.168935,20.527335,...,26.277834,2.082464,38.250700,1.591420,2013.437585,-4824.054670,0.032768,0.513075,0.514806,0.511617
std,7622.982502,2.165905,1.929742,0.651950,0.857135,4.048618,1.280617,0.0,1.202342,12.221939,...,17.467813,12.530751,15.057325,7.435685,5.431032,4807.963642,0.468504,5.231607,5.032342,5.108823
min,19332.000000,1.000000,-12.000000,-1.000000,-1.000000,0.047081,0.000000,0.0,0.000000,8.000000,...,9.300000,0.000000,15.100000,0.000000,2004.000000,-29500.000000,0.000000,0.000000,0.000000,0.000000
25%,25431.500000,3.000000,5.000000,-1.000000,-1.000000,11.900400,0.000000,0.0,0.000000,16.000000,...,19.300000,0.000000,30.500000,0.000000,2009.000000,-7750.000000,0.000000,0.000000,0.000000,0.000000
50%,33824.500000,7.000000,5.000000,-1.000000,-1.000000,14.167143,0.000000,0.0,0.000000,18.000000,...,23.100000,0.000000,35.980550,0.000000,2014.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
75%,39443.750000,7.000000,6.000000,-1.000000,-1.000000,16.528333,0.000000,0.0,0.000000,22.000000,...,28.000000,0.000000,42.378500,0.000000,2018.000000,-1750.000000,0.000000,0.000000,0.000000,0.000000
max,45092.000000,9.000000,10.000000,6.000000,2.000000,33.056667,16.528333,0.0,15.300000,150.000000,...,224.800000,207.262200,187.100000,173.143600,2022.000000,9750.000000,9.600000,97.000000,81.000000,88.000000

# Data Inspection

As the dataset is very technical and has a lot of column, in the data inspection we are trying to understand the relevance of each column and. 

#GENERAL CHARACTERISTICS: <br>
'make': manufacturer brand <br> 
'model': model name <br> 
'year': production year, from 2009-2018 <br> 

#ENGINE CHARACTERISTICS: <br>
'fuelType' <br>
'cylinders': engine cylinders <br>
'displ': engine displacement in liters<br>
'eng_dscr': <br> 
'phevBlended'<br>
'atvType': type of alternative fuel or advanced technology vehicle <br>

#POLLUTION: <br>
'co2TailpipeAGpm', 'co2TailpipeGpm' <br>
'co2', 'co2A'<br>
'ghgScore' <br>
'ghgScoreA' <br>

#DRIVETRAIN: <br>
'drive': <br>
'trany': <br>
'trans_dscr',<br>

#CHASSIS:   <br>
'VClass': EPA vehicle size class <br>
'pv2': 2-door passenger volume <br>
'pv4': 4-door passenger volume <br>
'lv2': 2 door luggage volume (cubic feet) <br>
'lv4': 4 door luggage volume (cubic feet) <br>
'hlv': hatchback luggage volume (cubic feet) <br>
'hpv': hatchback passenger volume (cubic feet) <br>

#ELECTRONICS: 
'tCharger':
'sCharger': 
'startStop': 

#FUEL CONSUMPTION: <br>
'city08': city MPG for fuelType1 and 2 <br>
'highway08': highway MPG for fuelType1 and 2 <br>




#all the different variable that distinuish between fuelType1 and fuelType2 can be summed up
'barrels08', 'barrelsA08': annual petroleum consumption in barrels<br>
'fuelCost08', 'fuelCostA08'
'comb08',  'combA08'
'city08', 'cityA08'
'highway08', 'highwayA08'


'standard', 
'stdText',
'trans_dscr', 
  
 
#Columns to be deleted:
efid
id
fuelType1: For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
fuelType2: For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG). For single fuel vehicles, this field is not used



#Columns to be deleted becasue not relevant for the research:<br>
createdOn - date the vehicle record was created (ISO 8601 format)<br>
modifiedOn - date the vehicle record was last modified (ISO 8601 format)<br>
salesArea - The area of the country where the vehicle can legally be sold.<br>
youSaveSpend - you save/spend over 5 years compared to an average car ($). Savings are positive; a greater amount    
               spent yields a negative number. For dual fuel vehicles, this is the cost savings for gasoline <br>
guzzler - if G or T, this vehicle is subject to the gas guzzler tax <br>
city08U, cityA08U - unrounded city MPG for fuelType1 (same values as city08 but not rounded and some variable are not 
                    available)<br> 
highway08U, highwayA08U - <br>
'highwayCD','highwayE','highwayUF'- <br>
'combinedCD','combE','combinedUF' - <br>
c240Dscr - electric vehicle charger description <br>
charge240b - time to charge an electric vehicle in hours at 240 V using the alternate charger <br> 
c240bDscr - <br>
mfrCode - 3-character manufacturer code <br>
mpgData - has My MPG data <br>
phevBlended - if true, this vehicle operates on a blend of gasoline and electricity in charge depleting mode <br>
'range', 'rangeA', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA' - <br>
'score', 'scoreAlt' - <br>
'UCity', 'UCityA', 'UHighway', 'UHighwayA'- <br>
'phevCity', 'phevHwy', 'phevComb' - <br>
'smartwayScore' - <br>
'charge120' - time to charge an electric vehicle in hours at 120 V <br>
'charge240' - time to charge an electric vehicle in hours at 240 V <br>
'evMotor' - <br>
'feScore' - <br>

In [695]:
#show all columns indeces 
df_raw.columns

Index(['efid', 'id', 'salesArea', 'score', 'scoreAlt', 'smartwayScore',
       'standard', 'stdText', 'barrels08', 'barrelsA08', 'charge120',
       'charge240', 'city08', 'city08U', 'cityA08', 'cityA08U', 'cityCD',
       'cityE', 'cityUF', 'co2', 'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm',
       'comb08', 'comb08U', 'combA08', 'combA08U', 'combE', 'combinedCD',
       'combinedUF', 'cylinders', 'displ', 'drive', 'engId', 'eng_dscr',
       'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType', 'fuelType1',
       'ghgScore', 'ghgScoreA', 'highway08', 'highway08U', 'highwayA08',
       'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv',
       'lv2', 'lv4', 'make', 'model', 'mpgData', 'phevBlended', 'pv2', 'pv4',
       'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany',
       'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'VClass', 'year',
       'youSaveSpend', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger',
       'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr',
       'charge240b', 'c240bDscr', 'createdOn', 'modifiedOn', 'startStop',
       'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [696]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

In [697]:
display_all(df_raw.describe(include = 'all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
efid,21950,6529,GPRXV04.0C91,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
id,21950.0,NaN,NaN,NaN,32950.602961,7622.982502,19332.0,25431.5,33824.5,39443.75,45092.0
salesArea,21950.0,NaN,NaN,NaN,5.353121,2.165905,1.0,3.0,7.0,7.0,9.0
score,21950.0,NaN,NaN,NaN,5.033075,1.929742,-12.0,5.0,5.0,6.0,10.0
scoreAlt,21950.0,NaN,NaN,NaN,-0.925194,0.65195,-1.0,-1.0,-1.0,-1.0,6.0
smartwayScore,21950.0,NaN,NaN,NaN,-0.578132,0.857135,-1.0,-1.0,-1.0,-1.0,2.0
standard,21950,48,U2,4066,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stdText,21941,64,LEV-II ULEV,2232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
barrels08,21950.0,NaN,NaN,NaN,14.322039,4.048618,0.047081,11.9004,14.167143,16.528333,33.056667
barrelsA08,21950.0,NaN,NaN,NaN,0.338052,1.280617,0.0,0.0,0.0,0.0,16.528333
charge120,21950.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
charge240,21950.0,NaN,NaN,NaN,0.168935,1.202342,0.0,0.0,0.0,0.0,15.3
city08,21950.0,NaN,NaN,NaN,20.527335,12.221939,8.0,16.0,18.0,22.0,150.0
city08U,21950.0,NaN,NaN,NaN,14.920588,15.657806,0.0,0.0,16.49565,21.2505,150.1958
cityA08,21950.0,NaN,NaN,NaN,1.545194,8.845768,0.0,0.0,0.0,0.0,145.0
cityA08U,21950.0,NaN,NaN,NaN,1.380218,8.776311,0.0,0.0,0.0,0.0,145.0835
cityCD,21950.0,NaN,NaN,NaN,0.001006,0.053784,0.0,0.0,0.0,0.0,5.35
cityE,21950.0,NaN,NaN,NaN,1.057131,6.849565,0.0,0.0,0.0,0.0,87.0
cityUF,21950.0,NaN,NaN,NaN,0.005766,0.055633,0.0,0.0,0.0,0.0,0.927
co2,21950.0,NaN,NaN,NaN,225.349385,216.300821,-1.0,-1.0,291.0,410.0,979.0
co2A,21950.0,NaN,NaN,NaN,12.994533,80.987262,-1.0,-1.0,-1.0,-1.0,713.0
co2TailpipeAGpm,21950.0,NaN,NaN,NaN,29.277358,118.73002,0.0,0.0,0.0,0.0,713.0
co2TailpipeGpm,21950.0,NaN,NaN,NaN,427.53509,120.408199,0.0,355.48,423.190476,493.722222,987.444444
comb08,21950.0,NaN,NaN,NaN,22.894806,11.368432,9.0,18.0,21.0,25.0,142.0
comb08U,21950.0,NaN,NaN,NaN,16.523263,15.778079,0.0,0.0,18.9326,24.1303,141.9512
combA08,21950.0,NaN,NaN,NaN,1.638815,8.756106,0.0,0.0,0.0,0.0,133.0
combA08U,21950.0,NaN,NaN,NaN,1.446863,8.655259,0.0,0.0,0.0,0.0,133.2662
combE,21950.0,NaN,NaN,NaN,1.072432,6.858613,0.0,0.0,0.0,0.0,82.0
combinedCD,21950.0,NaN,NaN,NaN,0.000782,0.046838,0.0,0.0,0.0,0.0,4.8
combinedUF,21950.0,NaN,NaN,NaN,0.005706,0.054959,0.0,0.0,0.0,0.0,0.92
cylinders,21627.0,NaN,NaN,NaN,5.795718,1.857639,2.0,4.0,6.0,6.0,16.0
displ,21628.0,NaN,NaN,NaN,3.311309,1.337093,0.0,2.0,3.0,4.0,8.4
drive,21950,6,Front-Wheel Drive,6879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engId,21950.0,NaN,NaN,NaN,155.997677,224.172696,0.0,0.0,44.0,213.75,999.0
eng_dscr,10785,189,SIDI,7335,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feScore,21950.0,NaN,NaN,NaN,2.449795,3.333951,-1.0,-1.0,3.0,5.0,10.0
fuelCost08,21950.0,NaN,NaN,NaN,3373.70615,951.830582,450.0,2750.0,3350.0,3950.0,8300.0
fuelCostA08,21950.0,NaN,NaN,NaN,192.749431,772.393557,0.0,0.0,0.0,0.0,4550.0
fuelType,21950,13,Regular,10338,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuelType1,21950,6,Regular Gasoline,11610,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ghgScore,21950.0,NaN,NaN,NaN,2.451663,3.342727,-1.0,-1.0,3.0,5.0,10.0
ghgScoreA,21950.0,NaN,NaN,NaN,-0.841595,0.920807,-1.0,-1.0,-1.0,-1.0,8.0
highway08,21950.0,NaN,NaN,NaN,27.035444,10.511456,11.0,22.0,26.0,30.0,133.0
highway08U,21950.0,NaN,NaN,NaN,19.299956,16.65352,0.0,0.0,23.0453,28.8888,133.0263
highwayA08,21950.0,NaN,NaN,NaN,1.807836,8.870678,0.0,0.0,0.0,0.0,121.0
highwayA08U,21950.0,NaN,NaN,NaN,1.579943,8.72928,0.0,0.0,0.0,0.0,121.2005
highwayCD,21950.0,NaN,NaN,NaN,0.000502,0.038961,0.0,0.0,0.0,0.0,4.06
highwayE,21950.0,NaN,NaN,NaN,1.091979,6.898766,0.0,0.0,0.0,0.0,79.0
highwayUF,21950.0,NaN,NaN,NaN,0.005622,0.054097,0.0,0.0,0.0,0.0,0.91
hlv,21950.0,NaN,NaN,NaN,1.45836,5.252152,0.0,0.0,0.0,0.0,42.0
hpv,21950.0,NaN,NaN,NaN,7.191344,24.519948,0.0,0.0,0.0,0.0,108.0
lv2,21950.0,NaN,NaN,NaN,1.344556,3.585163,0.0,0.0,0.0,0.0,22.0
lv4,21950.0,NaN,NaN,NaN,5.708155,8.567124,0.0,0.0,0.0,13.0,49.0
make,21950,76,Chevrolet,1746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,21950,3146,Jetta,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mpgData,21950,2,N,15039,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phevBlended,21950,2,False,21752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pv2,21950.0,NaN,NaN,NaN,11.283144,28.350429,0.0,0.0,0.0,0.0,118.0
pv4,21950.0,NaN,NaN,NaN,34.561139,47.000574,0.0,0.0,0.0,93.0,157.0
range,21950.0,NaN,NaN,NaN,3.166925,28.487235,0.0,0.0,0.0,0.0,520.0
rangeCity,21950.0,NaN,NaN,NaN,2.676362,26.58555,0.0,0.0,0.0,0.0,520.8
rangeCityA,21950.0,NaN,NaN,NaN,0.314485,3.776385,0.0,0.0,0.0,0.0,135.28
rangeHwy,21950.0,NaN,NaN,NaN,2.516584,25.362442,0.0,0.0,0.0,0.0,520.5
rangeHwyA,21950.0,NaN,NaN,NaN,0.292203,3.377412,0.0,0.0,0.0,0.0,114.76
trany,21950,34,Automatic (S6),3144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UCity,21950.0,NaN,NaN,NaN,26.277834,17.467813,9.3,19.3,23.1,28.0,224.8
UCityA,21950.0,NaN,NaN,NaN,2.082464,12.530751,0.0,0.0,0.0,0.0,207.2622
UHighway,21950.0,NaN,NaN,NaN,38.2507,15.057325,15.1,30.5,35.98055,42.3785,187.1
UHighwayA,21950.0,NaN,NaN,NaN,1.59142,7.435685,0.0,0.0,0.0,0.0,173.1436
VClass,21950,24,Midsize Cars,2991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,21950.0,NaN,NaN,NaN,2013.437585,5.431032,2004.0,2009.0,2014.0,2018.0,2022.0
youSaveSpend,21950.0,NaN,NaN,NaN,-4824.05467,4807.963642,-29500.0,-7750.0,-4250.0,-1750.0,9750.0
guzzler,1437,1,G,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trans_dscr,4671,29,CLKUP,2521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tCharger,6925,1,T,6925,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sCharger,757,1,S,757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
atvType,3157,7,FFV,1303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuelType2,1562,3,E85,1303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rangeA,1562,218,280,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
evMotor,1423,238,48V Li-Ion,169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mfrCode,13635,49,GMX,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
c240Dscr,127,5,standard charger,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
charge240b,21950.0,NaN,NaN,NaN,0.032768,0.468504,0.0,0.0,0.0,0.0,9.6
c240bDscr,121,7,80 amp dual charger,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
createdOn,21950,392,Tue Jan 01 00:00:00 EST 2013,11646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
modifiedOn,21950,232,Tue Jan 01 00:00:00 EST 2013,6861,NaN,NaN,NaN,NaN,NaN,NaN,NaN
startStop,12747,2,N,7476,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phevCity,21950.0,NaN,NaN,NaN,0.513075,5.231607,0.0,0.0,0.0,0.0,97.0
phevHwy,21950.0,NaN,NaN,NaN,0.514806,5.032342,0.0,0.0,0.0,0.0,81.0
phevComb,21950.0,NaN,NaN,NaN,0.511617,5.108823,0.0,0.0,0.0,0.0,88.0

In [698]:
df_raw["make"].value_counts()

Chevrolet        1746
BMW              1620
Ford             1449
Mercedes-Benz    1224
Toyota           1065
                 ...
Rivian              2
Fisker              1
Mahindra            1
Shelby              1
Kandi               1
Name: make, Length: 76, dtype: int64

In [699]:
df_raw["model"].value_counts()

Jetta                    105
Mustang                   98
Camaro                    92
Accord                    78
Tacoma 4WD                65
                        ...
Titan 4WD PRO-4X           1
RAV4 Hybrid  AWD           1
RS4 Cabriolet              1
AMG GLS63 4matic Plus      1
I-Pace EV400               1
Name: model, Length: 3146, dtype: int64

In [700]:
df_raw["year"].value_counts()

2018    1340
2019    1315
2017    1281
2021    1275
2015    1268
2016    1246
2020    1245
2014    1213
2013    1170
2022    1153
2008    1129
2012    1120
2010    1071
2011    1065
2006    1056
2005    1048
2004    1040
2007     992
2009     923
Name: year, dtype: int64

In [701]:
df_raw["cylinders"].value_counts()

4.0     8143
6.0     7521
8.0     4640
12.0     488
5.0      440
3.0      194
10.0     156
2.0       28
16.0      17
Name: cylinders, dtype: int64

In [702]:
df_raw["displ"].value_counts()

2.0    3264
3.0    2149
3.5    1678
2.5    1378
2.4    1242
       ...
0.9       6
8.3       6
2.1       5
5.8       2
0.0       1
Name: displ, Length: 62, dtype: int64

In [703]:
df_raw["phevBlended"].value_counts()

False    21752
True       198
Name: phevBlended, dtype: int64

In [704]:
df_raw["drive"].value_counts()

Front-Wheel Drive             6879
Rear-Wheel Drive              6545
All-Wheel Drive               4154
4-Wheel or All-Wheel Drive    2040
4-Wheel Drive                 1942
Part-time 4-Wheel Drive        390
Name: drive, dtype: int64

In [705]:
df_raw["atvType"].value_counts()

FFV               1303
Hybrid             906
Diesel             346
EV                 323
Plug-in Hybrid     255
CNG                 20
Bifuel (CNG)         4
Name: atvType, dtype: int64

In [706]:
df_raw["eng_dscr"].isnull().sum()

11165

In [707]:
df_raw["trans_dscr"].value_counts()

CLKUP              2521
2MODE CLKUP         555
3MODE CLKUP         414
EMS 2MODE CLKUP     293
SIL                 149
EMS                 129
CMODE               115
3MODE                80
2MODE                71
VMODE CLKUP          50
CMODE CLKUP          47
DC/FW                44
6MODE CLKUP          31
4MODE                28
2MODE 2LKUP          27
EMS CLKUP            24
VMODE VLKUP          24
VLKUP                21
CMODE VLKUP          14
SIL EMS               7
6MODE                 6
4MODE CLKUP           6
SIL 2MODE CLKUP       4
SIL 3MODE             3
3MODE VLKUP           2
LONG RATIO            2
EMS 3MODE CLKUP       2
3MODE CLKUP FW        1
SIL 3MODE CLKUP       1
Name: trans_dscr, dtype: int64

In [708]:
df_raw["model"].value_counts()

Jetta                    105
Mustang                   98
Camaro                    92
Accord                    78
Tacoma 4WD                65
                        ...
Titan 4WD PRO-4X           1
RAV4 Hybrid  AWD           1
RS4 Cabriolet              1
AMG GLS63 4matic Plus      1
I-Pace EV400               1
Name: model, Length: 3146, dtype: int64

In [709]:
#fuelType = fuelType1 + fuelType2 
#fuelType can be deleted 
df_raw["fuelType"].value_counts()

Regular                        10338
Premium                         9223
Gasoline or E85                 1188
Diesel                           346
Electricity                      323
Midgrade                         138
Premium and Electricity          122
Premium or E85                   115
Regular Gas and Electricity       76
Premium Gas or Electricity        53
CNG                               20
Regular Gas or Electricity         4
Gasoline or natural gas            4
Name: fuelType, dtype: int64

In [710]:
#For single fuel vehicles, this will be the only fuel. For dual fuel vehicles, this will be the conventional fuel.
df_raw["fuelType1"].value_counts()

Regular Gasoline     11610
Premium Gasoline      9513
Diesel                 346
Electricity            323
Midgrade Gasoline      138
Natural Gas             20
Name: fuelType1, dtype: int64

In [711]:
#For dual fuel vehicles, this will be the alternative fuel (e.g. E85, Electricity, CNG, LPG).
df_raw["fuelType2"].value_counts()

E85            1303
Electricity     255
Natural Gas       4
Name: fuelType2, dtype: int64

In [712]:
#the empty value mean the vehicle only have one type of fuel 
df_raw['fuelType2'].isna().sum()

20388

In [713]:
df_raw['ghgScore'].value_counts()

-1     9444
 5     3185
 4     2516
 6     1665
 3     1624
 7     1265
 2      653
 8      604
 10     540
 1      259
 9      195
Name: ghgScore, dtype: int64

In [714]:
df_raw['ghgScoreA'].value_counts()

-1    21259
 4      174
 3      150
 5      144
 6       90
 2       72
 1       20
 7       16
 8       13
 0       12
Name: ghgScoreA, dtype: int64

In [715]:
#electric vehicle charger description
df_raw["c240Dscr"].value_counts()

standard charger    116
3.6 kW charger        4
single charger        3
7.2 kW charger        2
6.6 kW charger        2
Name: c240Dscr, dtype: int64

In [716]:
#time to charge an electric vehicle in hours at 240 V using the alternate charger
df_raw["charge240b"].value_counts()

0.00    21833
4.75       46
8.00       18
8.50       15
3.75        9
8.30        5
6.20        4
9.60        4
5.00        3
8.20        2
4.40        2
6.60        2
6.50        1
5.80        1
9.30        1
2.30        1
7.00        1
2.50        1
4.00        1
Name: charge240b, dtype: int64

In [717]:
df_raw["city08"].value_counts()

18     1956
17     1953
16     1911
19     1731
15     1702
       ...
61        1
93        1
60        1
67        1
148       1
Name: city08, Length: 124, dtype: int64

In [718]:
#the fuel consumption in the city for fuelType2 is mainly 0 - therefore we are adding up the column 'city08' and 'cityA08'
df_raw["city08"].value_counts()

18     1956
17     1953
16     1911
19     1731
15     1702
       ...
61        1
93        1
60        1
67        1
148       1
Name: city08, Length: 124, dtype: int64

In [719]:
#EPA 1-10 smog rating for fuelType1
#-12 and -3 are wrong values becasue the rating goes from 1 to 10 
df_raw["score"].value_counts()

 5.0     7491
 6.0     6889
 3.0     2071
 1.0     1732
 7.0     1566
 2.0      974
 9.0      646
 10.0     320
 8.0      242
-12.0      11
 4.0        5
-2.0        3
Name: score, dtype: int64

In [720]:
#EPA 1-10 smog rating for fuelType2
df_raw["scoreAlt"].value_counts()

-1.0    21623
 5.0      117
 6.0       90
 2.0       70
 1.0       50
Name: scoreAlt, dtype: int64

In [721]:
#the ghgScore reflects vehicle tailpipe emissions of carbon dioxide (CO2), the most prevalent greenhouse gas (GHG).
df_raw["ghgScore"].value_counts()

-1     9444
 5     3185
 4     2516
 6     1665
 3     1624
 7     1265
 2      653
 8      604
 10     540
 1      259
 9      195
Name: ghgScore, dtype: int64

In [722]:
df_raw["ghgScoreA"].value_counts()

-1    21259
 4      174
 3      150
 5      144
 6       90
 2       72
 1       20
 7       16
 8       13
 0       12
Name: ghgScoreA, dtype: int64

In [723]:
df_raw["VClass"].value_counts()

Midsize Cars                          2991
Compact Cars                          2880
Subcompact Cars                       2000
Large Cars                            1653
Sport Utility Vehicle - 4WD           1413
Two Seaters                           1348
Small Sport Utility Vehicle 4WD       1331
Sport Utility Vehicle - 2WD           1111
Standard Sport Utility Vehicle 4WD    1054
Minicompact Cars                       892
Small Station Wagons                   850
Standard Pickup Trucks 4WD             825
Small Sport Utility Vehicle 2WD        823
Standard Pickup Trucks 2WD             797
Standard Sport Utility Vehicle 2WD     391
Small Pickup Trucks 2WD                282
Midsize Station Wagons                 245
Minivan - 2WD                          244
Small Pickup Trucks 4WD                229
Vans, Cargo Type                       192
Special Purpose Vehicle 2WD            170
Vans, Passenger Type                   159
Special Purpose Vehicle 4WD             37
Minivan - 4WD                           33
Name: VClass, dtype: int64

# Data Cleaning

Based on the data inspection part we are going to eliminate ......

In [724]:
df = df_raw

In [725]:
# Removed the column previously cited in the data inspection 

df = df.drop(["createdOn", 
              "efid","id", 
              "fuelType1", "fuelType2", 
              "createdOn", 
              "modifiedOn", 
              "salesArea", 
              "youSaveSpend", 
              "guzzler", 
              "city08U", "cityA08U", "cityCD", "cityE", "cityUF",
              "highway08U", "highwayA08U", "highwayCD", "highwayE", "highwayUF", 
              "comb08U", "combA08U", "combinedCD", "combE", "combinedUF", 
              "c240Dscr", "charge240b", "charge120", "c240bDscr", 
              "mfrCode", 
              "mpgData", 
              "phevBlended", 
              "range", "rangeA", "rangeCity", "rangeCityA", "rangeHwy", "rangeHwyA", 
              "UCity", "UCityA", "UHighway", "UHighwayA", 
              "phevCity", "phevHwy", "phevComb", 
              "smartwayScore", 
              "evMotor",  
              "fuelCost08", "fuelCostA08"
             ], axis = 1)

In [726]:
df.shape

(21950, 42)

In [727]:
df.columns

Index(['score', 'scoreAlt', 'standard', 'stdText', 'barrels08', 'barrelsA08',
       'charge240', 'city08', 'cityA08', 'co2', 'co2A', 'co2TailpipeAGpm',
       'co2TailpipeGpm', 'comb08', 'combA08', 'cylinders', 'displ', 'drive',
       'engId', 'eng_dscr', 'feScore', 'fuelType', 'ghgScore', 'ghgScoreA',
       'highway08', 'highwayA08', 'hlv', 'hpv', 'lv2', 'lv4', 'make', 'model',
       'pv2', 'pv4', 'trany', 'VClass', 'year', 'trans_dscr', 'tCharger',
       'sCharger', 'atvType', 'startStop'],
      dtype='object')

In [728]:
# Create a new column " Barrels " with the sum of "barrels08" and "barrelsA08"

df['Barrels'] = df['barrels08'] + df['barrelsA08']

In [729]:
# Create a new column " City " with the sum of "city08" and "cityA08"

df['City'] = df['city08'] + df['cityA08']

In [730]:
# Create a new column " Co2 " with the sum of "co2" and "co2A"

df['Co2'] = df['co2'] + df['co2A']

In [731]:
# Create a new column " co2TailpipeGpm " with the sum of "co2TailpipeAGpm" and "co2TailpipeGpm"

df['co2TailpipeGpm'] = df['co2TailpipeAGpm'] + df['co2TailpipeGpm']

In [732]:
# Create a new column " Comb08 " with the sum of "comb08" and "combA08"

df['comb'] = df['comb08'] + df['combA08']

In [733]:
# Create a new column " Barrels " with the sum of "barrels08" and "barrelsA08"

df['Barrels'] = df['barrels08'] + df['barrelsA08']

In [734]:
# Removed all the columns summed and left the aggregate ones 

df = df.drop(["barrels08", "barrelsA08", "city08","cityA08", "co2", "co2A", "co2TailpipeAGpm", "co2TailpipeGpm", "comb08", "combA08", "highway08", "highwayA08"], axis = 1)

In [735]:
# Merge the columns "tCharger" and "sCharger"

df['Charger']= df['tCharger'].fillna('0') + ' ' + df['sCharger'].fillna('0')

In [736]:
df.head()

,score,scoreAlt,standard,stdText,charge240,cylinders,displ,drive,engId,eng_dscr,...,trans_dscr,tCharger,sCharger,atvType,startStop,Barrels,City,Co2,comb,Charger
0,7.0,-1.0,T3B30,Federal Tier 3 Bin 30,0.0,6.0,3.0,4-Wheel Drive,774,SIDI; Mild Hybrid,...,NaN,NaN,NaN,Hybrid,Y,13.523182,19,407,22,0 0
1,1.0,-1.0,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,Rear-Wheel Drive,65,SIDI & PFI; FFV,...,NaN,NaN,NaN,FFV,N,22.823088,26,1046,29,0 0
2,1.0,-1.0,T3B160,Federal Tier 3 Bin 160,0.0,6.0,3.5,All-Wheel Drive,64,SIDI & PFI; FFV,...,NaN,NaN,NaN,FFV,N,23.916875,25,1089,28,0 0
3,3.0,-1.0,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,245,SIDI,...,NaN,T,NaN,NaN,Y,13.523182,19,408,22,T 0
4,3.0,-1.0,T3B125,Federal Tier 3 Bin 125,0.0,4.0,2.0,All-Wheel Drive,210,SIDI,...,NaN,T,NaN,NaN,Y,12.935217,20,391,23,T 0

In [737]:
# Removed the columns summed 

df = df.drop(["tCharger", "sCharger"], axis = 1)

In [738]:
# Rewrite the string in a better format 

df["Charger"] = df["Charger"].apply({'0 0':0, 'T 0': "T",'0 S': "S",'T S': "TS"  }.get)

In [739]:
df['Charger'].value_counts()

0     14351
T      6842
S       674
TS       83
Name: Charger, dtype: int64

In [752]:
#eliminate the rows where ghgScore is -1 = not available 
df.drop(df[df['ghgScore'] == -1].index, inplace = True)

In [762]:
df.shape

(12506, 35)

In [763]:
#eliminate the rows where ghgScoreA is 0 = not available 
df.drop(df[df['ghgScoreA'] == 0].index, inplace = True)

In [764]:
df['ghgScoreA'].value_counts()

-1    11815
 4      174
 3      150
 5      144
 6       90
 2       72
 1       20
 7       16
 8       13
Name: ghgScoreA, dtype: int64

In [755]:
#df.loc[df["ghgScoreA"] == "-1", "ghgScoreA"] = 1

In [759]:
df['ghgScore0'].value_counts()

-1    11815
 4      174
 3      150
 5      144
 6       90
 2       72
 1       20
 7       16
 8       13
 0       12
Name: ghgScore0, dtype: int64

In [758]:
df['ghgScoreavg'] = df[['ghgScore', 'ghgScoreA']].mean(axis=1)
df['ghgScoreavg'].value_counts()

2.0    3108
1.5    2345
2.5    1646
1.0    1494
3.0    1350
3.5     640
4.5     585
0.5     547
4.0     330
0.0     238
5.0     100
6.0      48
5.5      42
6.5      10
7.0      10
8.0       9
7.5       4
Name: ghgScoreavg, dtype: int64

In [677]:
average = []
for i in df['ghgScoreA']:
    if i > -1:
        average.append(df[['ghgScore','ghgScoreA']].mean(axis=1))
    else:
        df['ghgScore']

df['average'] = average

ValueError: Length of values (691) does not match length of index (12506)

# Data Visualization

SEABORN: 

scatterplot <br>
boxplot <br>
countplot <br>

https://seaborn.pydata.org/tutorial/function_overview.html

In [671]:
df.describe()

,score,scoreAlt,charge240,cylinders,displ,engId,feScore,ghgScore,ghgScoreA,hlv,hpv,lv2,lv4,pv2,pv4,year,Barrels,City,Co2,comb
count,12506.000000,12506.0,12506.000000,12194.000000,12195.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000,12506.000000
mean,5.362786,-1.0,0.288631,5.629408,3.155793,228.095074,5.054934,5.058212,-0.721973,1.657924,8.152487,1.384455,5.406605,11.818487,33.644651,2017.517272,13.596723,24.915321,418.930034,27.348473
std,1.793164,0.0,1.564024,1.863247,1.352733,240.601472,1.932472,1.954534,1.206218,5.558720,25.978545,3.614285,8.191790,29.074543,46.985830,2.822749,4.344134,19.537101,175.885148,18.257169
min,1.000000,-1.0,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2013.000000,0.047081,8.000000,-1.000000,9.000000
25%,5.000000,-1.0,0.000000,4.000000,2.000000,38.000000,4.000000,4.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,11.018889,17.000000,330.000000,20.000000
50%,6.000000,-1.0,0.000000,6.000000,3.000000,114.000000,5.000000,5.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.000000,13.523182,20.000000,396.000000,23.000000
75%,6.000000,-1.0,0.000000,6.000000,3.700000,400.000000,6.000000,6.000000,-1.000000,0.000000,0.000000,0.000000,13.000000,0.000000,94.000000,2020.000000,15.658421,25.000000,475.000000,28.000000
max,10.000000,-1.0,15.300000,16.000000,8.400000,999.000000,10.000000,10.000000,8.000000,35.000000,108.000000,22.000000,47.000000,118.000000,157.000000,2022.000000,33.056667,200.000000,1453.000000,187.000000

In [672]:
plt.figure(figsize=(30,30))
sns.relplot(data=df, x="ghgScore", y="co2")
plt.show()

ValueError: Could not interpret value `co2` for parameter `y`

In [ ]:
plt.figure(figsize=(30,30))
sns.relplot(data=tips, x="", y="", hue="", col="year")
plt.show()

In [ ]:
plt.figure(figsize=(20,20))
corr = df_raw.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), 
            cmap=sns.diverging_palette(220, 10, as_cmap=True), square=True)
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data = df_raw, x = "VClass")
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(data = df_raw, x = "")
plt.xticks(rotation=90)
plt.show()

In [ ]:
#We'll replace categories with their numeric codes, handle missing continuous values, and split the dependent variable 
#into a separate variable.


help(proc_df)